*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    display: grid;
    min-height: 90%;
    place-items: center;
    background-color: #eff4f5;
}

.card{
    width: 600px;
    height: 350px;
    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#time{
    font-size: 4rem;
    margin-bottom: 2rem;
}

#date{
    font-size: 1.2rem;
}